# node files will be downloaded and installed as required
node_modules/

# local development data only
data/*.sqlite

# nodemon
nodemon.json

#visual studio folders and files
obj/
bin/
TodoApp.njsproj
TodoApp.sln
.ntvs_analysis.dat
.vs/